<div>

    </div>
</div>
<a href="#hautdepage" style="position: relative; background: #fff ; color: orange; font-weight: bold;
border-radius: 20px;text-decoration: unset;padding: 10px;">haut</a>

</div>
</div>
<!-- Footer -->
<footer class="page-footer " style="background:rgba(2, 2, 2,0.1); color: #fff;">


    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <strong> AGRITECH</strong>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</body>
</html>

