<!DOCTYPE html>
<html>
    <head>
        <title> AGRITECH</title>
        <meta charset="utf-8"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet"> 
       <link rel="stylesheet" href="/css/styles.css">
      
    </head>
    
    
    <body>
        <div class="container site">
            <header class="entete" style="position : fixed ;top :2px;z-index:3;" > 
                <nav class="navbar navbar-default" style="background-color: #302d2d66;">
                  <div class="container-fluid" >
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <div style="font-size: 40px; text-align : center; text-transform:uppercase;">
                          <a class="navbar-brand" style="color:green;" href="/"><strong>AGRITECH</strong></a></div>
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"  style="color: orange;">alimentation<span class="caret"></span></a>
                           <ul class="dropdown-menu" >
                              <li><a href="recette"  style="color: orange; font-family: roboto;"> top 10 Recettes </a></li>
                              <li><a href="top10"  style="color: orange;font-family: roboto;">top 10 structures </a></li>
                             </ul>
                          
                           
                           
                        </li>
                      </ul>

                      <ul class="nav navbar-nav navbar-right">
                          
                        <li class="dropdown">
                          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                          aria-haspopup="true" aria-expanded="false" style="color: orange;">Engin<span class="caret"></span></a>
                          <ul class="dropdown-menu" >
                           <li></li>
                           <li><a href="enginDispo" style="color: orange;font-family: roboto;" >machines agricoles</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>
            </header>
            <span id="hautdepage">
                
            </span>
            <div  class="ensemble">